<div class="container h-100">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-header">Agregar mensaje</div>
                <div class="card-body"><textarea name="mensaje" id="msg" cols="30" rows="5"
                        class="form-control"></textarea></div>
                <div class="card-footer"><button class="btn btn-primary w-100">Enviar</button></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Mensaje</th>
                    <th>Fotografía</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>
                        <img src="https://thiscatdoesnotexist.com/" alt="" class="rounded-circle" width="100px" height="100px">
                    </td>
                    <td>Alex</td>
                    <td>1870-08-30</td>
                    <td>
                        <div class="d-flex flex-row">
                            <button class="btn btn-info pr-3"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>
                        <img src="https://thiscatdoesnotexist.com/" alt="" class="rounded-circle" width="100px" height="100px">
                    </td>
                    <td>María</td>
                    <td>1870-08-30</td>
                    <td>
                        <div class="d-flex flex-row">
                            <button class="btn btn-info pr-3"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>
                        <img src="https://thiscatdoesnotexist.com/" alt="" class="rounded-circle" width="100px" height="100px">
                    </td>
                    <td>Ricardo</td>
                    <td>1870-08-30</td>
                    <td>
                        <div class="d-flex flex-row">
                            <button class="btn btn-info pr-3"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>