<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Agregar tema
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-text">
                            
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="row">Id</th>
                    <th>Tema</th>   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Programación</td>
                    <th><button class="btn btn-danger float-end"><i class="bi bi-trash3"></i></button></th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cálculo</td>
                    <th><button class="btn btn-danger float-end"><i class="bi bi-trash3"></i></button></th>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Redes</td>
                    <th><button class="btn btn-danger float-end"><i class="bi bi-trash3"></i></button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>